{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="favicon" href="../public/vite.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" />
    <title>Keeper App</title>
    {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => { }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    {% else %}
    <script type="module" crossorigin src="{% static '/assets/index-83837365.js' %}"></script>
    <link rel="stylesheet" href="{% static '/assets/index-77de232d.css' %}">
    {% endif %}
</head>

<body>
    <div id="root"></div>
</body>

</html>